<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body style="font-family: Arial; text-align: center; margin-top: 100px;">
    <h1>Bienvenido, {{ usuario }} </h1>
    <p>Has iniciado sesión correctamente.</p>
    
    <h2>Lista de Usuarios Registrados</h2>
    <table border="1" style="margin: 0 auto; border-collapse: collapse;">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Usuario</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario[0] }}</td>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[2] }}</td>
            <td>{{ usuario[3] }}</td>
            <td>{{ usuario[4] }}</td>
            <td>{{ usuario[5] }}</td>
        </tr>
        {% endfor %}

    </table>

    <a href="{{ url_for('logout') }}">Cerrar sesión</a>

</body>
</html>